@page
@{}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Commercials</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body  style="background-color:lightcyan; font-family:cursive;">


        <div class="col-lg-9" style="padding-left:200px;">
            <div class="col-sm-8" style="text-align:center; font-family:cursive;">
                <h1><b>Best Deals</b></h1>
            </div>
            <br />
            <button class="btn btn-outline-dark " data-toggle="modal" data-target="#addAdvert">Add Commercial </button>
        </div>
    <br />
        <div class="col-lg-9" style="padding-left:250px;">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" id="allAdverts">

                    <div class="carousel-item col-lg-9 active">
                        <div class="card text-center">
                           
                            <h2>Offering the best Deals of 2021</h2>
                            <p> Here you can get best offer and save our money as well</p>

                        </div>

                    </div>
                </div>
            </div>
            </div>


            <a style="height:70vh" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="bg-primary carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a style="height:70vh" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="bg-primary carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
       








        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
              //varible for link
            var uri = 'api/CommercialDeals';

            $(document).ready(function () {
                // Gets Adverts
                $.getJSON(uri)
                    .done(function (data) {
                        //creating a template for Advertise
                        $("#adsTemp").tmpl(data).appendTo("#allAdverts");
                    });
            });


            // function for getting advertise
            function getAdverts() {

                $.getJSON(uri)
                    .done(function (data) {

                        $("#allAdverts").text("");
                        $("#activeTemp").tmpl(["s"]).appendTo("#allAdverts");

                        $("#adsTemp").tmpl(data).appendTo("#allAdverts");
                    });

            }
            //Adding advertise with a function addadvertise() with the on onclick function
        //once you click in the ADD advertise button in the front end that will take you to here

            function insertAdvert() {
                var _mainTitle = $('#mainTitle').val();
                var _description = $('#description').val();
                var _contact = $('#contact').val();


 // creating json object for table columns with a variable

                var advert = {
                    mainTitle: _mainTitle,
                    description: _description,
                    contact: _contact


                };
                   //method of getting the datas.
                $.ajax({
                    type: "POST",
                    url: uri,
                    data: JSON.stringify(advert),
                    contentType: "application/json; charset=utf-8"
                }).done(function (response) {
                       // If the fucntion work
                    $("#result").html("Advert inserted");
                    getAdverts();
                }).fail(function (jqXHR, textStatus) {
                    // if any erorr with function
                    $("#result").html("Error");
                });




            }



             //Updating Advertise with a function updateAdvert() with the onclick function
        //once you click in the UPDATE button in the front end that will take you to here

            function updateAdvert() {
                var _mainTitle = $('#_mainTitle').val();
                var _description = $('#_description').val();
                var _contact = $('#_contact').val();




            // creating json object table columns with a variable
                var advert = {
                    id: parseInt($('#_id').val()),
                    mainTitle: _mainTitle,
                    description: _description,
                    contact: _contact


                };





                 //method of getting the datas.
                $.ajax({
                    type: "PUT",
                    url: uri + "/" + $('#_id').val(),
                    data: JSON.stringify(advert),
                    contentType: "application/json; charset=utf-8"
                }).done(function (response) {
                    // If the fucntion work
                    $("#resultUpdate").html("Updated Advert");
                    getAdverts();
                }).fail(function (jqXHR, textStatus) {
                    // if any erorr with function
                    $("#resultUpdate").html("Error occured when updating");
                });;




            }


            //Function of Deleting  with the DELETE button
            function remove(id) {


                var yes = confirm("Discard this  Advert?");

                if (yes) {
                    $.ajax({
                        type: "DELETE",
                        url: uri + "/" + id,

                    }).done(function (response) {

                        getAdverts();
                    });

                }


            }




             // Getting the details from add  to update frame
            function displayAdvert(id) {

                $.ajax({
                    type: "GET",
                    url: uri + "/" + id,
                    contentType: "application/json"
                }).done(function (response) {

                    $('#_id').val(response.id);
                    $('#_mainTitle').val(response.mainTitle);
                    $('#_description').val(response.description);
                    $('#_contact').val(response.contact);




                });


            }
        </script>



        <script id="adsTemp" type="text/x-jquery-tmpl">
            <div class="carousel-item col-lg-12">
                <div class="col-lg-9" style="margin:10px;">
                    <div class="card card text-black bg-dark border-warning mb-3" style="width: 60rem; padding:20px">
                        <div class="card text-center" style="height:50vh">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">${mainTitle}</h4>
                                <p class="card-text">${description}</p>
                                <p class="card-text">For More Info Call ${contact}</p>

                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>


                        <button class="btn btn-primary" onclick="displayAdvert('${id}')" data-toggle="modal" data-target="#updateAdvert">Update</button>
                        <a href="#" class="btn btn-danger" onclick="remove('${id}')">Delete</a>
                    </div>
                </div>
            </div>




        </script>

       
        <div class="modal" tabindex="-1" role="dialog" id="addAdvert">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Advertisement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Title</label>
                                <input type="text" class="form-control" id="mainTitle">

                            </div>
                            <div class="form-group">
                                <label for="model">Decription</label>
                                <input type="text" class="form-control" id="description">

                            </div>
                            <div class="form-group">
                                <label for="model">Contact Number</label>
                                <input type="number" class="form-control" id="contact">

                            </div>


                            <div class="form-group" id="result">


                            </div>
                            <button type="button" onclick="insertAdvert()" class="btn btn-primary">Publish Advert</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>




        <div class="modal" tabindex="-1" role="dialog" id="updateAdvert">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">

                                <input type="hidden" class="form-control" id="_id" aria-describedby="emailHelp">

                            </div>

                            <div class="form-group">
                                <label for="name">Title</label>
                                <input type="text" class="form-control" id="_mainTitle">

                            </div>
                            <div class="form-group">
                                <label for="model">Decription</label>
                                <input type="text" class="form-control" id="_description">

                            </div>
                            <div class="form-group">
                                <label for="model">Contact Number</label>
                                <input type="number" class="form-control" id="_contact">

                            </div>

                            <div class="form-group" id="resultUpdate">


                            </div>
                            <button type="button" onclick="updateAdvert()" class="btn btn-primary">Update and Publish</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
</body>
</html>